:root {
    --hackucf-gold: #D2990B;
    --hackucf-light-grey: #434343;
    --hackucf-grey: #1C1C1C;
    --hackucf-off-white: #F9F9F9;
    --hackucf-error: #cc575d;
    --hackucf-error-transparent: #cc575daa;
    --text: #ffffff;
    --radius: 10px;
}

* {
    box-sizing: border-box;
}

html {
    background: var(--hackucf-grey);
    color: var(--text);
    font-family: Roboto;
    padding: 25px;
}

a, .hl  {
    color: var(--hackucf-gold);
}

h1, h2, h3, h4, h5 {
    font-family: Raleway, sans-serif;
    margin: 15px 0;
}

h1 {
    color: var(--hackucf-gold);
    font-size: 42px;
}

h6 {
    opacity: 0.5;
    font-weight: normal;
    font-size: 16px;
    margin: 8px 0;
}

.app {
    max-width: 750px;
    width: 100%;
    margin: auto;
}

.admin {
    width: 100%;
    margin: 10px;
}

.logo {
    background-image: url("data:image/svg+xml,%3Csvg width='673' height='211' viewBox='0 0 673 211' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.8328 87.5065L81.8411 87.5451L81.8528 87.5133L81.8586 87.497L81.8328 87.5065Z' fill='%23F9F9F9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M82.8879 94.4264L82.9416 94.5245C85.4964 93.7337 88.2853 92.4721 91.3679 90.5371C95.679 87.8309 101.578 83.6479 107.831 79.2133C111.205 76.8212 114.682 74.3556 118.068 72.0094C124.46 67.5806 129.958 66.0588 134.436 66.5473C138.83 61.299 139.063 54.7604 131.131 54.0782C123.411 53.4207 116.75 40.8939 116.75 40.8939C119.697 45.2448 124.167 46.0385 128.635 46.832C131.61 47.3603 134.585 47.8885 137.109 49.4664C143.428 53.4201 145.178 58.6963 142.359 65.2796C141.856 66.4539 140.998 67.4876 139.927 68.3936C144.668 71.2782 147.449 77.0704 147.959 83.5745C147.512 84.3551 147.032 85.0851 146.523 85.7774C149.161 87.3594 152.235 89.6402 154.753 92.7233C155.467 93.7689 156.263 93.8888 157.088 93.3739C157.409 93.1742 159.358 91.6823 161.704 89.8873C165.371 87.0808 170.007 83.5331 170.898 83.0269C172.138 82.3206 177.363 82.9272 180.665 84.4668L179.548 91.3725C178.912 91.0245 178.403 90.6726 178.274 90.3967C178.211 90.2618 178.293 89.9619 178.465 89.5674C177.509 88.9806 173.01 86.2521 172.383 86.5135C172.193 86.5926 171.119 87.684 169.599 89.2295C165.496 93.4007 158.14 100.879 156.116 100.697C154.592 100.559 150.469 99.8102 146.637 98.3524C146.605 98.4959 146.585 98.5721 146.585 98.5721C146.585 98.5721 151.711 104.56 155.924 110.13C159.331 108.185 173.521 103.267 176.182 102.913C176.584 102.86 177.097 102.884 177.673 102.962L176.966 107.331C176.571 107.234 176.206 107.181 175.895 107.189C174.748 107.218 170.102 109.827 165.315 112.514C161.307 114.765 157.2 117.071 154.965 117.965C153.046 118.732 151.622 117.463 150.016 115.859C146.883 112.733 140.28 106.4 138.495 104.688L138.49 104.683C138.203 104.408 138.042 104.253 138.042 104.253C133.867 106.409 129.246 107.446 124.822 107.463C124.789 107.513 124.756 107.563 124.723 107.613C123.736 108.906 122.876 110.066 122.112 111.111C117.849 116.309 112.301 121.026 107.514 124.284C108.811 126.044 110 127.816 110.824 129.365C111.717 131.043 115.1 141.238 113.944 145.249C113.481 146.86 110.787 153.65 110.787 153.65L110.768 153.641L110.785 153.651C110.785 153.651 109.332 160.629 107.224 160.031C105.182 159.451 102.798 156.068 103.042 155.198C103.368 154.038 104.349 151.312 105.011 150.948C105.113 150.892 105.321 150.918 105.599 151.001C106.293 150.29 111.034 145.328 110.5 143.088C109.104 137.244 105.476 132.289 102.159 128.768C103.537 133.344 104.869 139.813 103.8 140.915C101.521 143.276 92.8838 149.11 87.8817 149.547C84.248 149.865 80.4198 149.721 80.4198 149.721L80.4204 149.719C80.186 149.711 73.3076 149.439 73.5324 147.298C73.7563 145.186 76.6854 142.262 77.582 142.354C78.7789 142.475 81.63 142.975 82.1033 143.567C82.2074 143.697 82.1846 144.067 82.0857 144.566C82.6332 144.751 86.5495 146.026 88.378 145.4C93.6586 143.59 98.7052 139.453 99.0244 138.49C99.4376 137.246 92.416 130.671 87.4513 126.221C86.7103 125.951 86.0429 125.674 85.469 125.407L85.4546 125.44C83.8877 124.086 82.4484 122.268 81.2578 119.829C81.2578 119.829 80.0783 119.51 78.3025 118.963C67.2478 116.542 60.6999 111.824 57.0052 106.976C57.0017 106.976 56.9982 106.976 56.9946 106.977C56.9845 106.958 56.9743 106.94 56.9642 106.922C56.7864 106.687 56.6154 106.452 56.4508 106.217C56.0213 105.604 55.7258 104.945 55.5506 104.262C55.2236 103.616 54.909 102.969 54.6155 102.331C52.0421 96.7333 49.9895 89.2013 49.9895 89.2013C48.5427 91.062 44.9807 91.8818 41.6543 91.4103C38.8682 92.488 37.8605 93.2527 36.2901 94.4443C35.6355 94.941 34.8831 95.512 33.8635 96.2106C31.2168 98.0231 26.9601 93.5292 28.8575 90.5497C29.4433 89.6284 31.1103 87.7792 32.7845 85.9219C33.7437 84.8579 34.7052 83.7911 35.4672 82.8948C36.2674 81.9536 36.9241 81.0305 37.5649 80.1296C39.5731 77.3065 41.426 74.7017 47.0562 72.4407C47.1152 70.9103 46.6855 69.1885 45.3447 67.343C44.9385 66.784 44.7379 66.4339 44.701 66.2516C44.6409 65.9756 44.9502 66.0765 45.4652 66.4072C46.1671 66.8794 46.8442 67.3874 47.4939 67.9291L48.2936 68.5816C49.1992 69.3368 50.1126 70.1286 50.8162 70.7464C50.952 70.5804 51.1391 70.4365 51.3803 70.3348C54.4027 69.0342 57.7848 68.8317 60.9407 69.7626C61.1222 69.8151 61.3157 69.915 61.5086 70.0146C61.597 70.0603 61.6855 70.106 61.7725 70.1469C62.8047 70.5238 63.7976 71.0009 64.7369 71.5713C67.9537 73.5651 69.8941 75.9068 71.4729 78.2812C73.4906 79.9812 75.9125 81.3578 79.4867 81.9688C79.4867 81.9688 77.6751 83.5329 74.7868 83.5288C76.613 86.2187 78.8586 88.6337 83.0714 90.2406L83.0561 90.2683C82.5876 90.5224 77.6026 93.0271 72.6422 87.4794C73.4301 90.0645 74.7789 92.1049 75.9559 93.5184C76.2882 93.5452 76.6191 93.5706 76.9478 93.5958C79.0965 93.7606 81.1496 93.9181 82.8879 94.4264ZM48.5521 81.0864C48.3528 82.3446 47.1712 83.2031 45.913 83.0038C44.6547 82.8046 43.7962 81.623 43.9955 80.3647C44.1948 79.1065 45.3763 78.248 46.6346 78.4473C47.8928 78.6465 48.7513 79.8281 48.5521 81.0864Z' fill='%23F9F9F9'/%3E%3Cpath d='M79.798 122.367L79.7971 122.375L79.844 122.386L79.798 122.367Z' fill='%23F9F9F9'/%3E%3Cpath d='M113.455 59.029C113.455 69.6137 104.874 78.1942 94.2898 78.1942C83.7051 78.1942 75.1246 69.6137 75.1246 59.029C75.1246 48.4443 83.7051 39.8638 94.2898 39.8638C104.874 39.8638 113.455 48.4443 113.455 59.029Z' fill='%23D2990B'/%3E%3Cpath d='M154.851 131.09C154.851 141.675 146.27 150.256 135.685 150.256C125.101 150.256 116.52 141.675 116.52 131.09C116.52 120.506 125.101 111.925 135.685 111.925C146.27 111.925 154.851 120.506 154.851 131.09Z' fill='%23D2990B'/%3E%3Cpath d='M70.5227 131.09C70.5227 141.675 61.9421 150.256 51.3574 150.256C40.7727 150.256 32.1922 141.675 32.1922 131.09C32.1922 120.506 40.7727 111.925 51.3574 111.925C61.9421 111.925 70.5227 120.506 70.5227 131.09Z' fill='%23D2990B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M94.0937 210.051L98.2615 207.935C106.404 203.803 114.376 199.327 121.978 194.265C142.562 180.559 158.514 163.73 169.536 141.457C181.781 116.719 186.263 88.5466 186.955 60.9531C187.018 60.3203 187.05 59.6784 187.05 59.029C187.05 58.6438 187.039 58.2613 187.016 57.8817C187.074 54.0373 187.062 50.2071 186.988 46.402L186.844 38.8642L179.556 36.9024C151.892 29.4505 123.341 19.1041 99.1565 3.52418L93.6873 0L88.2295 3.54335C63.4931 19.6045 37.1062 30.4631 8.31725 36.7896L0.864478 38.4283L0.440403 46.0366C-2.04415 90.6765 5.47674 136.227 36.028 170.717C50.8156 187.41 69.3219 199.571 89.7875 208.229L94.0937 210.051ZM154.369 45.4411C133.604 38.7042 112.644 29.9708 93.7254 18.2294C74.9528 30.0763 55.2729 39.1471 34.4562 45.6894C37.8015 49.1395 39.8606 53.8438 39.8606 59.029C39.8606 69.6137 31.2801 78.1942 20.6954 78.1942C19.0345 78.1942 17.423 77.983 15.8863 77.5859C18.1132 108.807 27.2704 137.707 47.505 160.55C55.6842 169.784 65.245 177.541 75.891 184.004C75.3921 182.296 75.1246 180.489 75.1246 178.62C75.1246 168.035 83.7051 159.455 94.2898 159.455C104.874 159.455 113.455 168.035 113.455 178.62C113.455 179.662 113.372 180.685 113.212 181.681C113.301 181.622 113.391 181.563 113.48 181.503C132.151 169.071 146.13 154.187 155.795 134.657C164.286 117.502 168.745 98.1206 170.619 78.0007C169.726 78.1283 168.813 78.1942 167.885 78.1942C157.3 78.1942 148.72 69.6137 148.72 59.029C148.72 53.7183 150.88 48.9121 154.369 45.4411Z' fill='%23D2990B'/%3E%3Cpath d='M223.75 66.2776V35.1896H228.32V66.2776H223.75Z' fill='white'/%3E%3Cpath d='M242.481 66.2776V35.1896H247.051L264.926 58.7658V35.1896H269.496V66.2776H264.926L247.051 42.7014V66.2776H242.481Z' fill='white'/%3E%3Cpath d='M292.28 66.2776V39.4433H282.098V35.1896H307.077V39.4433H296.85V66.2776H292.28Z' fill='white'/%3E%3Cpath d='M341.913 39.4433H323.676V48.3126H340.148V52.5663H323.676V62.0239H341.913V66.2776H319.06V35.1896H341.913V39.4433Z' fill='white'/%3E%3Cpath d='M379.057 45.326C379.057 50.1227 375.799 53.7881 371.093 55.0099L379.012 66.2776H373.763L366.16 55.4624H359.01V66.2776H354.44V35.1896H367.518C374.079 35.1896 379.057 39.398 379.057 45.326ZM359.01 39.4433V51.2087H366.884C371.364 51.2087 374.396 48.9914 374.396 45.326C374.396 41.6606 371.364 39.4433 366.884 39.4433H359.01Z' fill='white'/%3E%3Cpath d='M391.6 66.2776V35.1896H396.17L414.045 58.7658V35.1896H418.615V66.2776H414.045L396.17 42.7014V66.2776H391.6Z' fill='white'/%3E%3Cpath d='M457.237 66.2776L454.522 59.9423H438.322L435.607 66.2776H430.538L443.888 35.1896H448.956L462.305 66.2776H457.237ZM440.087 55.8244H452.757L446.422 41.0723L440.087 55.8244Z' fill='white'/%3E%3Cpath d='M479.386 66.2776V39.4433H469.204V35.1896H494.183V39.4433H483.956V66.2776H479.386Z' fill='white'/%3E%3Cpath d='M506.211 66.2776V35.1896H510.782V66.2776H506.211Z' fill='white'/%3E%3Cpath d='M539.333 66.8206C530.599 66.8206 523.178 59.4446 523.178 50.711C523.178 41.9774 530.599 34.6466 539.333 34.6466C548.066 34.6466 555.397 41.9774 555.397 50.711C555.397 59.4446 548.066 66.8206 539.333 66.8206ZM539.333 62.6122C545.532 62.6122 550.736 57.182 550.736 50.711C550.736 44.2852 545.532 38.855 539.333 38.855C533.133 38.855 527.884 44.2852 527.884 50.711C527.884 57.182 533.133 62.6122 539.333 62.6122Z' fill='white'/%3E%3Cpath d='M568.321 66.2776V35.1896H572.891L590.766 58.7658V35.1896H595.336V66.2776H590.766L572.891 42.7014V66.2776H568.321Z' fill='white'/%3E%3Cpath d='M633.958 66.2776L631.243 59.9423H615.042L612.327 66.2776H607.259L620.608 35.1896H625.677L639.026 66.2776H633.958ZM616.807 55.8244H629.478L623.143 41.0723L616.807 55.8244Z' fill='white'/%3E%3Cpath d='M654.588 62.0239H671.06V66.2776H649.973V35.1896H654.588V62.0239Z' fill='white'/%3E%3Cpath d='M250.958 84.4746H261.114V125.278H250.958V109.004H234.268V125.278H224.112V84.4746H234.268V99.9168H250.958V84.4746Z' fill='white'/%3E%3Cpath d='M289.086 125.99C277.208 125.99 267.17 116.309 267.17 104.846C267.17 93.3835 277.208 83.7619 289.086 83.7619C301.024 83.7619 311.062 93.3835 311.062 104.846C311.062 116.309 301.024 125.99 289.086 125.99ZM289.086 116.784C295.323 116.784 300.609 111.32 300.609 104.846C300.609 98.4319 295.323 92.9678 289.086 92.9678C282.85 92.9678 277.564 98.4319 277.564 104.846C277.564 111.32 282.85 116.784 289.086 116.784Z' fill='white'/%3E%3Cpath d='M352.665 125.278H341.143L332.175 112.508H327.186V125.278H317.03V84.4746H335.976C344.944 84.4746 351.477 90.2357 351.477 98.4913C351.477 104.431 348.092 109.123 342.806 111.261L352.665 125.278ZM327.186 93.7399V103.243H335.026C338.53 103.243 341.024 101.342 341.024 98.4913C341.024 95.6405 338.53 93.7399 335.026 93.7399H327.186Z' fill='white'/%3E%3Cpath d='M373.838 125.99C366.592 125.99 359.999 123.615 355.069 119.16L360.771 112.33C364.75 115.597 369.205 117.497 374.194 117.497C377.995 117.497 379.955 115.953 379.955 113.755C379.955 111.32 378.054 110.786 372.115 109.36C363.384 107.4 356.911 105.025 356.911 96.8283C356.911 88.9885 363.206 83.7619 372.531 83.7619C379.361 83.7619 384.706 85.7218 389.042 89.3448L383.875 96.5908C380.133 93.7399 376.035 92.2551 372.234 92.2551C368.967 92.2551 367.126 93.7993 367.126 95.8186C367.126 98.3132 369.086 99.1447 375.144 100.451C384.291 102.411 390.171 105.025 390.171 112.686C390.171 120.883 383.934 125.99 373.838 125.99Z' fill='white'/%3E%3Cpath d='M427.984 93.5617H406.009V99.9168H425.965V109.004H406.009V116.19H427.984V125.278H395.853V84.4746H427.984V93.5617Z' fill='white'/%3E%3Cpath d='M450.664 125.278V84.4746H469.61C478.579 84.4746 485.112 90.2357 485.112 98.4913C485.112 106.747 478.579 112.508 469.61 112.508H460.82V125.278H450.664ZM460.82 103.243H468.66C472.164 103.243 474.659 101.342 474.659 98.4913C474.659 95.6405 472.164 93.7399 468.66 93.7399H460.82V103.243Z' fill='white'/%3E%3Cpath d='M500.14 116.19H519.8V125.278H490.044V84.4746H500.14V116.19Z' fill='white'/%3E%3Cpath d='M525.315 125.278V84.4746H535.471V125.278H525.315Z' fill='white'/%3E%3Cpath d='M543.354 125.278V84.4746H553.51L571.268 108.588V84.4746H581.424V125.278H571.268L553.51 101.164V125.278H543.354Z' fill='white'/%3E%3Cpath d='M589.347 125.278V84.4746H599.503V101.877L614.648 84.4746H626.705L611.204 101.817L627.893 125.278H615.658L604.195 109.123L599.503 114.171V125.278H589.347Z' fill='white'/%3E%3Cpath d='M650.317 125.99C638.438 125.99 628.401 116.309 628.401 104.846C628.401 93.3835 638.438 83.7619 650.317 83.7619C662.255 83.7619 672.292 93.3835 672.292 104.846C672.292 116.309 662.255 125.99 650.317 125.99ZM650.317 116.784C656.553 116.784 661.839 111.32 661.839 104.846C661.839 98.4319 656.553 92.9678 650.317 92.9678C644.08 92.9678 638.794 98.4319 638.794 104.846C638.794 111.32 644.08 116.784 650.317 116.784Z' fill='white'/%3E%3Cpath d='M227.913 166.024H244.385V170.278H223.297V139.19H227.913V166.024Z' fill='white'/%3E%3Cpath d='M324.547 143.443H306.311V152.313H322.782V156.566H306.311V166.024H324.547V170.278H301.695V139.19H324.547V143.443Z' fill='white'/%3E%3Cpath d='M407.26 170.278L404.545 163.942H388.345L385.63 170.278H380.562L393.911 139.19H398.979L412.328 170.278H407.26ZM390.11 159.824H402.78L396.445 145.072L390.11 159.824Z' fill='white'/%3E%3Cpath d='M482.936 157.517V153.534H495.788V165.933C492.846 168.92 487.959 170.821 483.57 170.821C474.836 170.821 467.369 163.445 467.369 154.711C467.369 145.977 474.836 138.647 483.57 138.647C487.959 138.647 492.846 140.502 495.788 143.534L492.575 146.611C490.448 144.303 486.782 142.855 483.57 142.855C477.325 142.855 472.076 148.285 472.076 154.711C472.076 161.182 477.325 166.612 483.57 166.612C486.194 166.612 489.136 165.662 491.262 164.033V157.517H482.936Z' fill='white'/%3E%3Cpath d='M568.333 170.821C560.504 170.821 554.983 165.164 554.983 157.2V139.19H559.554V157.109C559.554 162.675 563.174 166.657 568.333 166.657C573.446 166.657 577.066 162.675 577.066 157.109V139.19H581.682V157.2C581.682 165.164 576.116 170.821 568.333 170.821Z' fill='white'/%3E%3Cpath d='M663.996 143.443H645.76V152.313H662.231V156.566H645.76V166.024H663.996V170.278H641.144V139.19H663.996V143.443Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: auto;
    display: inline-block;
    color: transparent;
}

.hidden {
    visibility: hidden;
}

.right {
    float: right;
    background-position: right;
    text-align: right;
}

.logo .right {
    font-size: 30px;
}

.btn {
    background: var(--hackucf-gold);
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    border-radius: var(--radius);
    padding: 12px;
    margin: 15px 0;
    border: none;
    display: inline-block;
    transition: opacity 0.15s ease-in-out;
}

.btn.grey {
    background: var(--hackucf-light-grey);
}

.btn.wide {
    width: calc(100% - 10px);
    text-align: center;
}

.unfocus {
    opacity: 0.5;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.user > .icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}


.user > * {
    margin: 0;
}

.user > h2 {
    font-size: 36px;
}

.user > h3 {
    opacity: 0.5;
    font-size: 20px;
}

.big {
    font-size: 52px;
}

input[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--hackucf-off-white);
    border-radius: 3px;
    cursor: pointer;
}

input[type=checkbox]:checked:after {
    width: 12px;
    height: 12px;
    content: "";
    transform: translate(4px, 4px);
    border-radius: 1px;
    display: block;
    color: transparent;
    background: var(--hackucf-gold);
}

.radio > div > label {
    margin: 5px;
}

div > label {
    display: inline-block;
    width: calc(100% - 50px);
    transform: translateY(-6px);
    margin: 5px 0;
}

input[type=radio] {
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--hackucf-off-white);
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

input[type=radio]:checked:after {
    width: 12px;
    height: 12px;
    content: "";
    transform: translate(4px, 4px);
    border-radius: 50%;
    display: block;
    color: transparent;
    background: var(--hackucf-gold);
}

input[type=text], input[type=email], input[type=password], input[type=tel], select {
    border-radius: 5px;
    border: none;
    padding: 8px;
    background: var(--hackucf-off-white);
    font-size: 16px;
    width: 100%;
    color: black;
}

input[type=text].search {
    width: calc(100% - (3 * 116px));
    display: inline-block;
    border-radius: 5px;
}

.btn.searchbtn {
    width: 100px;
    font-size: 16px;
    padding: 8px;
    display: inline-block;
    border-radius: 5px;
    font-weight: normal;
    text-align: center;
}

select {
    cursor: pointer;
}

input:active {
    opacity: 0.8;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    opacity: 0.9;
}

label {
    font-size: 18px;
    display: inline-block;
}

.entry {
    display: grid;
    grid-template-columns: 40% auto;
    margin-bottom: 15px;
}


h3, h4 {
    font-family: Roboto;
    margin: 5px;
}

h4 {
    font-weight: normal;
}

.other_dropdown, .other_checkbox {
    display: none;
    margin-top: 10px;
}

fieldset {
    border: none;
}

.radio.gridded {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.radio.gridded > div > label {
    width: 30px;
    text-align: center;
    display: block;
    transform: translateX(-5px);
}

.banner_vanishing {
    display: static;
    position: fixed;
    width: 50vw;
    background: var(--hackucf-error-transparent);
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: var(--radius);
    filter: drop-shadow(0 0 5px black);
    backdrop-filter: blur(5px);
    z-index: 999;
    transition: opacity 0.15s ease-in-out;
}

.caption {
    color: var(--hackucf-light-grey);
    font-style: italic;
}

.signature {
    color: var(--hackucf-gold);
    font-style: italic;
    text-align: center;
}

.ico {
    font-size: 100px;
    font-weight: bold;
    font-family: math, monospace, serif;
}

.red {
    color: #CC575D;
}

.green {
    color: #57CC7F;
}

.blue {
    color: #0B8AD2;
}

.gold {
    color: #D2990B;
}

.qr {
    height: 250px;
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
}

.nav {
    width: 100%;
    background: var(--hackucf-grey);
    color: white;
}

.nav > .nav_inner {
    width: 100%;
    max-width: 850px;
    margin: auto;
    margin-bottom: 10px;
}

.nav_inner > img {
    height: 30px;
}

.nav > .right {
    float: right;
}

table {
    width: 100%;
}

table > * > tr {
    text-align: center;
}

table > thead {
    font-weight: bold;
}

.hide_default {
    display: none;
}

#pfp {
    border-radius: 100%;
    height: 100px;
    width: auto;
    margin-right: 20px;
    float: left;
}

#user {
    max-width: 650px;
    margin: auto;
}

#user > *:not(img) {
    margin: 5px 0;
}

#user > #discord {
    opacity: 0.5;
}

details > summary > * {
    display: inline-block;
}

.data_table > tbody > tr {
    text-align: left;
}

.data_table > tbody > tr > td:nth-child(1) {
    min-width: 250px;
    font-weight: bold;
}

video, .scan-region-highlight {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 25px;
}

video {
    margin: 20px 0;
}

.qr > svg {
    border-radius: 10px;
}

.totally_text {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

td.nid, td.email {
    filter: blur(5px); 
    transition: filter 0.15s ease-in-out;
}

td.nid:hover, td.email:hover {
    filter: blur(0px);    
}

.center {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.alt {
    opacity: 0.5;
}

#apple_wallet {
    margin: auto;
    width: 220px;
    padding: 10px;
    display: none;
}

#apple_wallet > img {
    width: 200px;
    height: auto
}

.infra_modal {
    border-left: 7px var(--hackucf-gold) solid;
    padding-left: 20px;
    display: none;
}

@media screen and (max-width: 619px) {
    .entry {
        grid-template-columns: auto;
    }

    .logo {
        display: none;
    }
}