<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=0">
    <title>Check-In Kiosk</title>
    <link rel="stylesheet" type="text/css" href="/static/checkin/index.css"/>

    <!-- QR library -->
    <script src="/static/lib/qr-scanner.umd.min.js"></script>

    <script src="/static/checkin/index.js"></script>
</head>
<body>
    <div class="card" id="home">
        <h1>Please Scan IHPL Employee QR Code</h1><br>
        <h2>Visit <span class="gold">hr.plinko.horse</span> to view QR code.</h2>
        <video></video>
        <p>Event: <b>Unknown</b></p>
    </div>

    <div class="card" id="load">
        <h1>Loading...</h1>
        <div class="ico gold">⧗</div>
        <h2>This may take a second...</h2>
    </div>

    <div class="card" id="success">
        <h1 id="name">Welcome!</h1>
        <div class="ico green">✔</div>
        <div id="flavor"></div>
    </div>

    <div class="card" id="failure">
        <h1>Check-In Failed!</h1>
        <div class="ico red">X</div>
        <h2 id="err_msg">Please reach out to an event organizer for assistance or try again.</h2>
    </div>
</body>
</html>