<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=0"
    />
    <title>Team Monitor</title>
    <link rel="stylesheet" type="text/css" href="/static/dash/index.css" />

    <script src="/static/dash/index.js"></script>
  </head>
  <body>
    <div class="main">
      <h1>Event: <b>Unknown</b></h1>

      <div class="rooms" id="room_el">
        <div id="room_green" class="room">
          <h2 class="team green">ENG1-187</h2>
        </div>
        <div id="room_purple" class="room">
          <h2 class="team purple">ENG1-188</h2>
        </div>
        <div id="room_yello2" class="room">
          <h2 class="team purple">ENG1-260</h2>
        </div>
      </div>
    </div>
  </body>
</html>
